body {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100vw;
}


#bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #282828;
    flex: 1 1 30%;
    min-width: 0;  
    height: 100vh;
    position: sticky;  
    top: 0;
    
}
main {
    flex: 1 1 100%;
    min-width: 0;
    
}

#bio #name, #bio #role {
    text-align: center;
}

.icon {
    height: 50px;
    width: 50px;
}
#getInTouch h3 {
    text-align: center;
}
#getInTouchContainer {
    display: flex;
    background-color: #4C454E;
    border-radius: 10px;
    width: 205px;
    padding: 10px;
    justify-content: space-evenly;
    gap: 25px;
    align-items: first baseline;
}

#getInTouch .icon {
    filter: invert(65%) sepia(56%) saturate(7392%) hue-rotate(249deg) brightness(99%) contrast(82%);
}